matplotlib
numpy
metapub
pandas
astropy
specutils
scipy
pybliometrics
pyopenms
spectrum_overload
metapub
qiskit_sphinx_theme
sphinx-reredirects
pybliometrics
pygments-pytest
pytest
coverage
flake8
unidecode
coloredlogs
astropy
specutils
lxml
pytrends
astropy
distinctipy
sphinx
reno
nbsphinx
sphinx-remove-toctrees
sphinx-copybutton
numpydoc
sphinx-design
sphinx-autodoc-typehints
sphinx-togglebutton
docutils
